.idea
.vscode
.env
**/.DS_Store

mysql/initdb
mysql/mysql
mysql/tmp
mysql/duckdb

spark/tmp
spark/duckdb
spark/work

postgres/postgresql
postgres/tmp

apache/www/app-reporting
apache/www/*/
!apache/www/html/

apache/vhosts/*
!apache/vhosts/lr-apps.conf

apache/www/html/ci-commons
apache/www/html/ci-commons.zip

deno/www
deno/www/app-dotlake
/apache/www/
