.idea
.vscode

**/.DS_Store

mysql/initdb
mysql/mysql
mysql/tmp
mysql/duckdb

apache/www/app-reporting
apache/www/*/
!apache/www/html/

apache/vhosts/*
!apache/vhosts/lr-apps.conf

apache/www/html/ci-commons
apache/www/html/ci-commons.zip