services:
  apache:
    build: ./apache
    container_name: cont-lr-apache
    hostname: lr-apache
    environment:
      TZ: "UTC"
    ports:
      - "8080:8080" # reporting
      - "8081:8081" # ticketing-api
      - "8082:8082" # freshdesk ??
      - "8083:8083" # lz-news
      - "8084:8084" # be-plat-api
      - "8085:8085" #
      - "8086:8086" #

      - "8090:8090" # phpinfo
      - "8091:8091" # yii-api
      - "8092:8092" # yii-gdpr
      - "8093:8093" #

      - "3001:3001" # base
      - "3002:3002" #
      - "3003:3003" # cont
      - "3004:3004"
      - "3005:3005" # dav
      - "3006:3006" # all-bva
      - "3007:3007" # astprt
      - "3008:3008" #
      - "3009:3009" # tel-pd
      - "3010:3010" # csr-ciber
      - "3011:3011" # s-r-a
      - "3012:3012" # oc-seg
      - "3013:3013" # fza
      - "3014:3014" # inf.seg
      - "3015:3015" # inf.ein
      - "3016:3016" # anubis
      - "3017:3017" # bcrdm
      - "3018:3018" # csr-aydig
      - "3019:3019" # hlv-it
      - "3020:3020" # hlv-inf
      - "3021:3021" # mst
      - "3022:3022" # trk-al-v2
      - "3023:3023" # jss-nz
      - "3024:3024" # ag-ocid
      - "3025:3025" # ag-seg
      - "3026:3026" #

    volumes:
      - ./apache/vhosts:/etc/apache2/sites-available
      - ./apache/www:/var/www

    extra_hosts:
      - "reporting.local:host-gateway"
      - "ticketing-api.local:host-gateway"
      - "yii-api.local:host-gateway"
      - "host.docker.internal:host-gateway"

  php-fpm-7.3:
    build: ./fpm/7.3
    container_name: cont-php-fpm-7.3
    hostname: php-fpm-7-3
    environment:
      TZ: "UTC"
      # XDEBUG: 9003 PHP_IDE_CONFIG necesario para command-line debugging
      PHP_IDE_CONFIG: serverName=ServXdebug3
    volumes:
      - ./apache/www:/var/www

  php-fpm-7.4:
    build: ./fpm/7.4
    container_name: cont-php-fpm-7.4
    hostname: php-fpm-7-4
    environment:
      TZ: "UTC"
      # XDEBUG: 9005 PHP_IDE_CONFIG necesario para command-line debugging
      PHP_IDE_CONFIG: serverName=ServXdebug5
    volumes:
      - ./apache/www:/var/www
    extra_hosts:
      - "local-base:host-gateway"
      - "local-1858:host-gateway"
      - "local-1859:host-gateway"
      - "local-3455:host-gateway"
      - "local-3848:host-gateway"
      - "local-allbbva:host-gateway"
      - "local-3007:host-gateway"
      - "local-3015:host-gateway"
      - "host.docker.internal:host-gateway"

  php-fpm-8.3:
    build: ./fpm/8.3
    container_name: cont-php-fpm-8.3
    hostname: php-fpm-8-3
    environment:
      TZ: "UTC"
      # XDEBUG: 9006 PHP_IDE_CONFIG necesario para command-line debugging
      PHP_IDE_CONFIG: serverName=ServXdebug6
    volumes:
      - ./apache/www:/var/www
    extra_hosts:
      - "reporting.local:host-gateway"
      - "ticketing-api.local:host-gateway"
      - "yii-api.local:host-gateway"
      - "mid-lznews.local:host-gateway"
      - "host.docker.internal:host-gateway"

  py-3.10:
    build: ./python/3.10
    container_name: cont-py-3.10
    hostname: py-3-10
    environment:
      TZ: "UTC"
    volumes:
      - ./python/www:/var/www
      - ./python/cli:/var/cli

  ubuntu-deno:
    build: ./deno
    container_name: cont-ubuntu-deno
    hostname: ubuntu-deno
    environment:
      TZ: "UTC"
    volumes:
      - ./deno/www:/www
      - ../app_shared:/app_shared
    ports:
      - "5500:5500" # con .lake
      - "5600:5600"
      - "5700:5700"
      - "5800:5800"
      - "5900:5900" # ms antiphising

    extra_hosts:
      - "host.docker.internal:host-gateway"

  mysql:
    build: ./mysql
    container_name: cont-lr-mysql
    hostname: lr-mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./mysql/initdb:/docker-entrypoint-initdb.d/
      - ./mysql/mysql:/var/lib/mysql
      - ./mysql/tmp:/tmp
      - ./mysql/duckdb:/duckdb
    ports:
      - "3306:3306"

  spark:
    build: ./spark
    container_name: cont-lr-spark
    hostname: lr-spark
    environment:
      TZ: "UTC"
      JUPYTER_TOKEN: "tk0000"
      JUPYTER_PASSWORD: "root"

    volumes:
      - ./spark/tmp:/tmp
      - ./spark/duckdb:/duckdb
      - ./spark/work:/home/jovyan/work

    ports:
      - "8888:8888"
      - "4040:4040"

  postgres:
    build: ./postgres
    restart: always
    shm_size: 128mb
    container_name: cont-db-postgres
    hostname: db-postgres
    environment:
      LANG: C.UTF-8
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
    volumes:
      - ./postgres/postgresql/data:/var/lib/postgresql/data
      - ./postgres/tmp:/tmp
      - ../app_shared:/app_shared
    ports:
      - "2021:21"
      - "5432:5432"
      - "6000-6010:6000-6010"

  postgres-adm:
    image: adminer
    restart: always
    container_name: cont-db-adminer
    hostname: db-adminer
    ports:
      - 7000:8080

  redis:
    build:
      context: ./redis
    container_name: cont-redis
    hostname: cont-redis
    environment:
      TZ: "UTC"
    ports:
      - "6379:6379"
    volumes:
      - ./redis/data:/data

  n8n:
    build:
      context: ./n8n
    container_name: cont-n8n
    hostname: cont-n8n
    environment:
      TZ: "UTC"
      DB_TYPE: postgresdb
      DB_POSTGRESDB_HOST: cont-db-postgres
      DB_POSTGRESDB_PORT: 5432
      DB_POSTGRESDB_DATABASE: db_n8n
      DB_POSTGRESDB_SCHEMA: public
      DB_POSTGRESDB_USER: postgres
      DB_POSTGRESDB_PASSWORD: root
    ports:
      - "5678:5678"
    volumes:
      - ./n8n/data:/home/node/.n8n

  kafka-br1:
    image: apache/kafka:latest
    container_name: cont-kafka-br1
    hostname: host-kafka-br1
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@host-kafka-br1:9093
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_NUM_PARTITIONS: 3
      KAFKA_LOG_RETENTION_HOURS: 168
      KAFKA_LOG_SEGMENT_BYTES: 1073741824
      KAFKA_LOG_RETENTION_CHECK_INTERVAL_MS: 300000
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: 'true'
    volumes:
      - ./kafka/data:/var/lib/kafka/data
      - ./kafka/logs:/var/lib/kafka/logs
      - ../app_shared:/app_shared
    ports:
      - "9092:9092"
