<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <!-- Plantilla. Copiar a settings.xml (ignorado por git) y rellenar el PAT real. -->
  <servers>
    <server>
      <id>some-project-name</id>
      <username>tu-usuario@domain.es</username>
      <password>REEMPLAZAR_CON_PAT_AZURE_DEVOPS</password>
    </server>
  </servers>
</settings>
